# StockForge Environment Variables

# Flask
SECRET_KEY=Stock-Forge
FLASK_ENV=dev
FLASK_DEBUG=true
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://avalavinay8:vinayavala@cluster0.snvtrmf.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET_KEY=StockForge

# Redis (Used for Caching, Rate Limiting, and Celery)
REDIS_URL=redis://localhost:6379/0
